body {
  font-family: "Noto Sans TC", "Roboto", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}