$max-width: 1296px;
$container-padding-x: 12px;
$container-md-padding-x: 36px;

$primary: #650300;
$secondary: #aa0601;
$tertiary: #fbf2f2;
$secondary-darker: #9F1213;

$white: #fff;
$black: #000;
$dark: #707070;

$shadow: #dee2e6;
$shadow-darker: #00000029;

$spacers : (
  0:   0,
  3:   3px,
  4:   4px,
  6:   6px,
  8:   8px,
  9:   9px,
  12:  12px,
  16:  16px,
  20:  20px,
  24:  24px,
  32:  32px,
  36:  36px,
  40:  40px,
  48:  48px,
  64:  64px,
  72:  72px,
  80:  80px,
  96:  96px,
  144: 144px,
  296: 296px,
  auto: auto
);

$font-sizes : (
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  36: 36px,
  48: 48px,
  64: 64px
);

$grid-breakpoints: (
  // Large devices (desktops, less than 1200px)
  // lg: 1200px,
  lg: null,
  // Medium devices (tablets, less than 992px)
  md: 992px,
  // Small devices (landscape phones, less than 768px)
  sm: 768px
);

$theme-colors: (
  "primary":          $primary,
  "secondary":        $secondary,
  "secondary-darker": $secondary-darker,
  "white":            $white,
  "black":            $black,
  "dark":             $dark,
  "tertiary":         $tertiary,
  "shadow":           $shadow,
  "shadow-darker":    $shadow-darker
);

$font-weights: (
  lighter:  lighter,
  light:    300,
  normal:   400,
  medium:   500,
  semibold: 600,
  bold:     700,
  bolder:   bolder,
  black:    900
);

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
);

$widths: (
  24: 24%,
  32: 32%,
  48: 48%,
  50: 50%,
  60: 60%,
  75: 75%,
  100: 100%,
);

$enable-important-utilities: true;