$space-prefixes : (
  p  : padding,
  pt : padding-top,
  pr : padding-right,
  pb : padding-bottom,
  pl : padding-left,
  px: (padding-left, padding-right),
  py: (padding-top, padding-bottom),
  m  : margin,
  mt : margin-top,
  mr : margin-right,
  mb : margin-bottom,
  ml : margin-left,
  mx: (margin-left, margin-right),
  my: (margin-top, margin-bottom)
) !default;

@include make-space($space-values, $space-prefixes, $breakpoints);