<footer class="footer">
  <div class="container pt-48 sm-pt-24">
    <div class="footer-reverse">
      <div class="footer-nav">
        <ul class="footer-menu">
          <li><a href="#">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <ul class="footer-icon-menu">
          <li>
            <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="fb-icon"/></a>
          </li>
          <li>
            <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="ig-icon"/></a>
          </li>
          <li>
            <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line-icon"/></a>
          </li>
        </ul>
      </div>
      <ul class="footer-contact pt-24 sm-pt-0">
        <li>
          <a href="#">
            <span class="material-icons-outlined py-9 mr-16 sm-py-3 sm-mr-8">phone</span>
            <span>0800-000-000</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="material-icons-outlined py-9 mr-16 sm-py-3 sm-mr-8">email</span>
            <span>glasses@business.com</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright mt-32 py-32 md-pb-40 sm-mt-20 sm-pt-20 sm-pb-24">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="footer-terms">
        <li><a href="">隱私權政策</a></li>
        <li><a href="">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
