<nav class="nav">
    <div class="container">
        <h1 class="nav-logo"><a href="#"></a></h1>
        <ul class="nav-menu">
            <li class="nav-item"><a href="#">系列鏡框</a></li>
            <li class="nav-item"><a href="#">門市據點</a></li>
            <li class="nav-item"><a href="#">部落格</a></li>
            <li class="nav-item"><a href="#">常見問題</a></li>
        </ul>
    </div>
</nav>
<header class="header">
    <div class="container">
        <p class="header-sub-title">Promise-Desert 2020 早春系列</p>
        <h2 class="header-title">看得清，才能看得遠</h2>
        <a class="header-link" href="#">立即購買</a>
    </div>
</header>