<header class="header">
  <div class="container py-296 py-sm-144">
    <p class="header-sub-title">Promise-Desert 2020 早春系列</p>
    <h2 class="header-title">看得清，才能看得遠</h2>
    <a class="header-link" href="#">立即購買</a>
  </div>
</header>
<main>
  <section class="promote">
    <div class="container py-80">
      <h3>用專業的心，做專業的事</h3>
      <ul class="promote-list pt-32">
        <li class="promote-item mb-md-36">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true" alt="promote-1"/>
          <p class="promote-item-title pt-24">單一價格</p>
          <p class="promote-item-content pt-8">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
        </li>
        <li class="promote-item mb-md-36">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true" alt="promote-2"/>
          <p class="promote-item-title pt-24">20 分鐘即可取件</p>
          <p class="promote-item-content pt-8">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
        </li>
        <li class="promote-item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true" alt="promote-3"/>
          <p class="promote-item-title pt-24">安心售後服務</p>
          <p class="promote-item-content pt-8">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
        </li>
        <li class="promote-item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true" alt="promote-4"/>
          <p class="promote-item-title pt-24">關於鏡片</p>
          <p class="promote-item-content pt-8">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="container py-80">
      <h3>經典系列鏡框</h3>
      <ul class="basic-list pt-48">
        <li class="basic-item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true" alt="basic-1"/>
          <p>OPTICAL</p>
        </li>
        <li class="basic-item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true" alt="basic-2"/>
          <p>SUNGLASSES</p>
        </li>
        <li class="basic-item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true" alt="basic-3"/>
          <p>FUNCTIONAL</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="co-branding">
    <div class="container py-80">
      <h3>聯名設計鏡框</h3>
      <ul class="co-branding-list">
        <li class="co-branding-item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true" alt="co-branding-1"/>
          <p>DOUBLE A+</p>
        </li>
        <li class="co-branding-item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true" alt="co-branding-2"/>
          <p>YOUTH</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="recommend">
    <div class="container py-80">
      <h3>顧客推薦</h3>
      <ul class="recommend-list pt-48">
        <li class="recommend-item mb-md-24">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true" alt="recommend-1"/>
          <div class="recommend-content p-16">
            <p class="recommend-content-name">Jessy</p>
            <p class="pt-8">眼鏡品質優良，下次還會想來這邊購買！</p>
            <p class="recommend-content-date">2021/06/20</p>
          </div>
        </li>
        <li class="recommend-item mb-md-24">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true" alt="recommend-2"/>
          <div class="recommend-content p-16">
            <p class="recommend-content-name">凱倫</p>
            <p class="pt-8">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            <p class="recommend-content-date">2021/04/18</p>
          </div>
        </li>
        <li class="recommend-item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true" alt="recommend-3"/>
          <div class="recommend-content p-16">
            <p class="recommend-content-name">悠悠</p>
            <p class="pt-8">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            <p class="recommend-content-date">2020/12/25</p>
          </div>
        </li>
        <li class="recommend-item">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true" alt="recommend-4"/>
          <div class="recommend-content p-16">
            <p class="recommend-content-name">Kyuan</p>
            <p class="pt-8">服務很好，品質沒有任何問題，非常喜歡。</p>
            <p class="recommend-content-date">2020/10/31</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="container py-80">
      <div class="contact">
        <h3>聯絡我們</h3>
        <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <form action="#" method="post" class="contact-form">
          <div class="form-group mb-16">
            <label for="name" class="form-label mb-8">姓名</label>
            <input type="text" class="form-control px-12 py-6" name="name" id="name" placeholder="陳小明" required>
          </div>
          <div class="form-group mb-16">
            <label for="tel" class="form-label mb-8">聯絡電話</label>
            <input type="tel" class="form-control px-12 py-6" name="tel" id="tel" placeholder="0912-345-678" required>
          </div>
          <div class="form-group mb-16">
            <label for="email" class="form-label mb-8">電子郵件</label>
            <input type="email" class="form-control px-12 py-6" name="email" id="email" placeholder="example@email.com" required>
          </div>
          <div class="form-group mb-16">
            <label for="feedback" class="form-label mb-8">意見反應</label>
            <textarea name="feedback" class="form-control px-12 py-6" id="feedback" cols="30" rows="10" placeholder="請輸入您的意見"></textarea>
          </div>
          <div>
            <input type="checkbox" class="form-control" name="" id="check" required>
            <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>
          <div class="form-submit">
            <input type="submit" class="contact-submit px-176 py-16 mt-48" value="確認送出">
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
