<header class="header text-primary text-end">
  <div class="container py-296 py-sm-144">
    <p class="fs-36 fs-sm-16">Promise-Desert 2020 早春系列</p>
    <h2 class="fs-64 fs-sm-24 fw-bold">看得清，才能看得遠</h2>
    <a class="header-btn d-inline-block text-white bg-secondary fs-20 py-6 px-12 mt-4 mt-sm-8" href="#">立即購買</a>
  </div>
</header>
<main>
  <section class="promote text-primary bg-tertiary">
    <div class="container text-center py-80 py-sm-40">
      <h3 class="test-title fs-48 fs-sm-24 text-primary fw-bold">用專業的心，做專業的事</h3>
      <ul class="promote-list d-flex justify-content-between flex-md-wrap justify-content-sm-center mt-24">
        <li class="promote-item w-24 w-md-48 w-sm-100 mb-md-24">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true" class="mx-auto" alt="promote-1"/>
          <p class="fs-24 fw-bold mt-16">單一價格</p>
          <p class="text-black text-start mt-8">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
        </li>
        <li class="promote-item w-24 w-md-48 w-sm-100 mb-md-24">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true" class="mx-auto" alt="promote-2"/>
          <p class="fs-24 fw-bold mt-16">20 分鐘即可取件</p>
          <p class="text-black text-start mt-8">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
        </li>
        <li class="promote-item w-24 w-md-48 w-sm-100 mb-sm-24">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true" class="mx-auto" alt="promote-3"/>
          <p class="fs-24 fw-bold mt-16">安心售後服務</p>
          <p class="text-black text-start mt-8">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
        </li>
        <li class="promote-item w-24 w-md-48 w-sm-100">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true" class="mx-auto" alt="promote-4"/>
          <p class="fs-24 fw-bold mt-16">關於鏡片</p>
          <p class="text-black text-start mt-8">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="basic container text-center py-80 py-sm-40">
      <h3 class="fs-48 fs-sm-24 text-primary fw-bold">經典系列鏡框</h3>
      <ul class="basic-list d-flex justify-content-between flex-md-column align-items-md-center mt-48 mt-sm-24">
        <li class="basic-item w-32 w-md-50 w-sm-100">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true" alt="basic-1"/>
          <p class="fs-48 fw-black fst-italic text-secondary mt-8">OPTICAL</p>
        </li>
        <li class="basic-item w-32 w-md-50 w-sm-100">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true" alt="basic-2"/>
          <p class="fs-48 fw-black fst-italic text-secondary mt-8">SUNGLASSES</p>
        </li>
        <li class="basic-item w-32 w-md-50 w-sm-100">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true" alt="basic-3"/>
          <p class="fs-48 fw-black fst-italic text-secondary mt-8">FUNCTIONAL</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="co-branding overflow-hidden">
    <div class="container text-center py-80 py-sm-40">
      <h3 class="fs-48 fs-sm-24 text-white fw-bold">聯名設計鏡框</h3>
      <ul class="co-branding-list d-flex flex-md-column mt-48">
        <li class="co-branding-item d-block fs-48">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true" class="d-block" alt="co-branding-1"/>
          <p class="fst-italic fw-black text-secondary bg-white py-8">DOUBLE A+</p>
        </li>
        <li class="co-branding-item d-block fs-48">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true" class="d-block" alt="co-branding-2"/>
          <p class="fst-italic fw-black text-secondary bg-white py-8">YOUTH</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="recommend">
    <div class="container text-center py-80 py-sm-40">
      <h3 class="fs-48 fs-sm-24 text-primary fw-bold">顧客推薦</h3>
      <ul class="recommend-list text-start d-flex justify-content-between flex-md-wrap mt-48 mt-sm-24">
        <li class="recommend-item w-24 w-md-48 w-sm-100 border border-shadow rounded-8 mb-md-24 mb-sm-16">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true" class="w-100" alt="recommend-1"/>
          <div class="recommend-content d-flex flex-column p-16">
            <p class="fw-medium">Jessy</p>
            <p class="mt-8">眼鏡品質優良，下次還會想來這邊購買！</p>
            <p class="fs-14 text-dark mt-auto">2021/06/20</p>
          </div>
        </li>
        <li class="recommend-item w-24 w-md-48 w-sm-100 border border-shadow rounded-8 mb-md-24 mb-sm-16">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true" class="w-100" alt="recommend-2"/>
          <div class="recommend-content d-flex flex-column p-16">
            <p class="fw-medium">凱倫</p>
            <p class="mt-8">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            <p class="fs-14 text-dark mt-auto">2021/04/18</p>
          </div>
        </li>
        <li class="recommend-item w-24 w-md-48 w-sm-100 border border-shadow rounded-8 mb-sm-16">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true" class="w-100" alt="recommend-3"/>
          <div class="recommend-content d-flex flex-column p-16">
            <p class="fw-medium">悠悠</p>
            <p class="mt-8">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            <p class="fs-14 text-dark mt-auto">2020/12/25</p>
          </div>
        </li>
        <li class="recommend-item w-24 w-md-48 w-sm-100 border border-shadow rounded-8">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true" class="w-100" alt="recommend-4"/>
          <div class="recommend-content d-flex flex-column p-16">
            <p class="fw-medium">Kyuan</p>
            <p class="mt-8">服務很好，品質沒有任何問題，非常喜歡。</p>
            <p class="fs-14 text-dark mt-auto">2020/10/31</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="bg-tertiary">
    <div class="container text-center py-80 py-sm-40">
      <div class="w-50 w-md-75 w-sm-100 text-start mx-auto">
        <h3 class="text-center fs-48 fs-sm-24 text-primary fw-bold">聯絡我們</h3>
        <p class="fs-20 fs-md-16 mt-48 mt-sm-24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <form action="#" method="post" class="mt-24">
          <div class="d-flex flex-column mb-16">
            <label for="name" class="form-label mb-8">姓名</label>
            <input type="text" class="form-control border px-12 py-6" name="name" id="name" placeholder="陳小明" required>
          </div>
          <div class="d-flex flex-column mb-16">
            <label for="tel" class="form-label mb-8">聯絡電話</label>
            <input type="tel" class="form-control border px-12 py-6" name="tel" id="tel" placeholder="0912-345-678" required>
          </div>
          <div class="d-flex flex-column mb-16">
            <label for="email" class="form-label mb-8">電子郵件</label>
            <input type="email" class="form-control border px-12 py-6" name="email" id="email" placeholder="example@email.com" required>
          </div>
          <div class="d-flex flex-column mb-16">
            <label for="feedback" class="form-label mb-8">意見反應</label>
            <textarea name="feedback" class="form-control border px-12 py-6" id="feedback" cols="30" rows="10" placeholder="請輸入您的意見"></textarea>
          </div>
          <div class="d-flex align-items-start mb-48 mb-sm-24">
            <input type="checkbox" class="form-control border border-2 m-0 me-4 mt-6" name="" id="check" required>
            <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>
          <div class="text-center">
            <input type="submit" class="contact-submit w-60 w-sm-100 bg-secondary fw-bold text-white border border-secondary text-center py-16" value="確認送出">
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
