.footer-menu {
  gap: 48px;
}
.footer-icon-menu {
  gap: 32px;
  & > li a img {
    width: 48px;
    &:hover {
      opacity: 0.6;
    }
  }
  @include media-breakpoint-down("md") {
    gap: 16px;
    & > li a img {
      width: 40px;
    }
  }
  @include media-breakpoint-down("sm") {
    gap: 8px;
    & > li a img {
      width: 24px;
    }
  }
}

.footer-contact-link:hover {
  opacity: 0.8;
}

.footer-terms {
  gap: 48px;
  @include media-breakpoint-down("sm") {
    gap: 8px;
  }
}
