.nav {
  background: $bg-primary;
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-to("sm") {
      flex-wrap: wrap;
    }
  }
}
.nav-logo {
  & a {
    display: block;
    width: 80px;
    height: 48px;
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true)
      no-repeat center/contain;
    &:hover {
      opacity: 0.6;
    }
  }
}
.nav-menu {
  display: flex;
  gap: 64px;
  @include respond-to("sm") {
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
  }
}
.nav-item {
  & a {
    display: block;
    color: $color-white;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1.5;
    &:hover {
      color: $bg-primary;
      background-color: $bg-secondary;
    }
  }
  @include respond-to("sm") {
    width: 50%;
    & > a {
      text-align: center;
      border: 1px solid $color-white;
      padding: 12px 0;
    }
  }
}

.header {
  text-align: right;
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true)
    no-repeat center/cover;
  color: $color-primary;
  line-height: 1.5;
  @include respond-to("md") {
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true)
      no-repeat center/cover;
  }
}
.header-title {
  font-size: 4rem;
  font-weight: 700;
  @include respond-to("sm") {
    font-size: 1.5rem;
  }
}
.header-sub-title {
  font-size: 2.25rem;
  @include respond-to("sm") {
    font-size: 1rem;
  }
}
.header-link {
  display: inline-block;
  color: $color-white;
  background: $bg-primary;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 6px 12px;
  margin-top: 4px;
  &:hover {
    background: $color-primary;
  }
}