.nav-logo-link {
  width: 80px;
  height: 48px;
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true)
    no-repeat center/contain;
  &:hover {
    opacity: 0.6;
  }
}
.nav-menu {
  gap: 64px;
  @include media-breakpoint-down("sm") {
    gap: 0;
  }
}
.nav-item-link:hover {
  @include media-breakpoint-down("sm") {
    background: $white;
    color: $secondary-darker !important;
    &::before {
      content: none;
    }
  }
}