.header {
  text-align: right;
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true)
    no-repeat center/cover;
  color: $color-primary;
  line-height: 1.5;
  @include respond-to("md") {
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true)
      no-repeat center/cover;
  }
}
.header-title {
  font-size: 4rem;
  font-weight: 700;
  @include respond-to("sm") {
    font-size: 1.5rem;
  }
}
.header-sub-title {
  font-size: 2.25rem;
  @include respond-to("sm") {
    font-size: 1rem;
  }
}
.header-link {
  display: inline-block;
  color: $color-white;
  background: $bg-primary;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 6px 12px;
  margin-top: 4px;
  &:hover {
    background: $color-primary;
  }
}

section .container {
  text-align: center;
  line-height: 1.5;
  & h3 {
    font-size: 48px;
    font-weight: 700;
    color: $color-primary;
  }
}

.promote {
  color: $color-primary;
  background: $bg-secondary;
}
.promote-list {
  display: flex;
  justify-content: space-around;
  gap: 1%;
  @include respond-to("md") {
    flex-wrap: wrap;
    gap: 2%;
  }
}
.promote-item {
  width: 24%;
  text-align: center;
  img {
    width: 84px;
  }
  @include respond-to("md") {
    width: 49%;
  }
}
.promote-item-title {
  font-size: 24px;
  font-weight: 700;
}
.promote-item-content {
  color: $color-black;
  text-align: start;
}

.basic-list {
  display: flex;
  justify-content: space-around;
  @include respond-to("md") {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.basic-item {
  width: 32%;
  p {
    color: $bg-primary;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
  }
  @include respond-to("md") {
    width: 49%;
  }
}

.co-branding {
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true)
    no-repeat center/cover;
  .container h3 {
    color: $color-white;
  }
}
.co-branding-list {
  display: flex;
  margin-top: 48px;
  @include respond-to("md") {
    flex-direction: column;
    gap: 24px;
  }
}
.co-branding-item {
  img {
    display: block;
  }
  p {
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    color: $bg-primary;
    background-color: $color-white;
  }
}

.recommend-list {
  text-align: left;
  display: flex;
  justify-content: space-around;
  gap: 2%;
  @include respond-to("md") {
    flex-wrap: wrap;
  }
}

.recommend-item {
  width: 23%;
  border: 1px solid $color-shadow;
  box-shadow: 0px 2px 6px $color-shadow-darker;
  border-radius: 4px;
  img {
    width: 100%;
  }
  @include respond-to("md") {
    width: 48%;
  }
  @include respond-to("sm") {
    width: 98%;
  }
}
.recommend-content {
  height: 205px;
  display: flex;
  flex-direction: column;
}
.recommend-content-name {
  font-weight: 500;
}
.recommend-content-date {
  color: $color-darker;
  margin-top: auto;
}
