.header {
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true)
    no-repeat center/cover;
  @include media-breakpoint-down("md") {
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true)
      no-repeat center/cover;
  }
}
.header-btn {
  &:hover {
    color: $secondary !important;
    background: $tertiary !important;
  }
}

.promote-list {
  gap: 1%;
  @include media-breakpoint-down("md") {
    gap: 2%;
  }
}
.promote-item img {
  width: 84px;
}

.basic-list {
  @include media-breakpoint-down("md") {
    gap: 24px;
  }
}

.co-branding {
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true)
    no-repeat center/cover;
}
.co-branding-list {
  @include media-breakpoint-down("md") {
    gap: 24px;
  }
}

.recommend-list {
  gap: 2%;
}

.recommend-item {
  box-shadow: 0px 2px 6px $shadow-darker;
}
.recommend-content {
  height: 205px;
}

.form-control {
  outline: none;
  transition: 0.2s;
}
textarea.form-control {
  resize: none;
}
.form-control:focus {
  border-color: $black;
  box-shadow: 0px 0px 3px $dark;
}
.contact-submit {
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background: $tertiary !important;
    color: $secondary !important;
  }
}
